@font-face {
  font-family: "Robot Reavers Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Robot Reavers Regular"), url("Robot Reavers.woff") format("woff");
}

h1 {
  font-family: "Robot Reavers Regular";
  font-weight: 200;
  color: #a55ae8;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
